# IntelliJ project files
.idea


/images/
/files/
/logs/
/temp/
configuration.php

#  кеш
js/dashboard/

/nbproject/
./nbproject/project.properties
/node_modules

/index_yii2.php
/index_api.php
/.htaccess
