#bread
{
	font-size: 14px;
    margin-bottom: 10px;
}

.item_ysl
{
	
}

.item_ysl
{
	
}

.name_client
{
	margin-bottom:10px;
}

.name_client span
{
	background-color: #20409a;
    border-radius: 4px;
    color: #eee;
    font-weight: bold;
    padding: 3px;
    text-shadow: 1px 1px 0 #000;
}

.img_logo_client
{
	
}

.work_content_client
{
	margin-bottom:45px;
}

.work_content_client p:first-letter
{
	padding-left: 20px;
}

